{% extends 'user_template.html' %}

{% block title%}
    <title>Albums</title>
{% endblock%}


{% block contenuUser %}
<div class="divOverlay" id="overlayPostForm">
    <form id="formAlbum" method="post" class="post formBlock">
        <button id="btnQuite">x</button>
        <h2>Ajouter un Album</h2>
        <div>
          {{ formAlbum.title() }}
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
    </form>
</div>


<div class="containerAlbum">

    <div class="btns">
        <button class="btnForm">Ajouter</button>
        <form method="get" id="loadAlbum">
            <button type="submit">Charger</button>
        </form>
    </div>
    
    <div class="divContainerAlbum">
        <h2>Albums</h2>
    
        {% if albums %}
            
            <div class="divAlbums">
                {% for album in albums%}
                <div class="singleAlbum">
                    <a href="/albums/{{album.title_albums}}"><img src="https://via.placeholder.com/250" alt="album"/></a>
                    <p><a href="/albums/{{album.title_albums}}">{{album.title_albums}}</a></p>
                </div>
                {% endfor %}
                
            </div>

            <div class="divPagination">
                <button>Précédent</button>
                <button>Suivant</button>
            </div>

        {% else %}
            
            <div class="divNotELement">
                <p>Veuillez ajouter un Album ou charger les album</p>
            </div>
            
        {% endif %}

        
    </div>



</div>

{% endblock %}