{% extends 'user_template.html' %}

{% block contenuUser %}

<div class="containerAlbum">

    <div class="btns">
        <button>Ajouter</button>
        <button>Charger</button>
    </div>
    
    <div class="divContainerAlbum">
        <div class="divHeadAlbum">
            <h2>Album 1</h2>
            <div class="divFaIcons">
                <span class="fa fa-pen"></span>
                <span class="fa fa-trash"></span>
            </div>
        </div>
    
        <div class="divAlbums">
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Photo 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Photo 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Photo 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Photo 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Photo 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Photo 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Photo 1</p>
            </div>

            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Photo 1</p>
            </div>

            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Photo 1</p>
            </div>
        </div>

        <div class="divPagination">
            <button>Précédent</button>
            
            <button>Suivant</button>
        </div>
    </div>



</div>

{% endblock %}