{% extends 'user_template.html' %}

{% block contenuUser %}

<div class="containerAlbum">

    <div class="btns">
        <button>Ajouter</button>
        <button>Charger</button>
    </div>
    
    <div class="divContainerAlbum">
        <h2>Albums</h2>
    
        <div class="divAlbums">
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Album 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Album 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Album 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Album 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Album 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Album 1</p>
            </div>
    
            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Album 1</p>
            </div>

            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Album 1</p>
            </div>

            <div class="singleAlbum">
                <img src="https://via.placeholder.com/250" alt="album"/>
                <p>Album 1</p>
            </div>
        </div>

        <div class="divPagination">
            <button>Précédent</button>
            
            <button>Suivant</button>
        </div>
    </div>



</div>

{% endblock %}