{% extends 'base.html' %}

{% block title %}
    <title>Modification</title>
{% endblock %}


{% block contenu %}

{% if type == 'posts' %}

<div class="divUpdated">
    <form id="formPost" method="post" class="post formBlock">
        <h2>Editer un post</h2>
        <div>
          {{ form_post.title(value=element.title_posts) }}
          {{ form_post.message(content=element.body_posts)}}
        </div>
        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>

{% elif type == 'todos' %}

<div class="divUpdated">
    <form id="formTodo" method="post" class="post formBlock">
        <h2>Editer un Todo</h2>
        <div>
          {{ form_todo.title(value=element.title_todos) }}
          {{ form_todo.etat(select=element.status, class="selectOptions") }}
        </div>
        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>

{% elif type == 'photos' %}

<div class="divUpdated">
    <form id="formPhoto" method="post" class="post formBlock">
        <h2>Editer un photo</h2>
        <div>
          {{ form_photo.title(value=element.title_photos) }}
          {{ form_photo.url(value=element.url) }}
          {{ form_photo.thumbnail(value=element.thumbnailUrl)}}
        </div>
        
        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>


{% elif type == 'users' %}

<div class="divUpdated users">
    <form id="formUser" method="post" class="post formBlock">
        <h2>Editer un utilisateur</h2>
        <div>
          <div class="formGroup">
            {{ form_user.fullname() }}
            {{ form_user.username() }}
            {{ form_user.email() }}
            {{ form_user.phone() }}
            {{ form_user.website() }}
          </div>
          <div class="formGroup">
            <p>Adresse</p>
            {{ form_user.ville() }}
            {{ form_user.rue() }}
            {{ form_user.suite() }}
            {{ form_user.zipcode() }}
            {{ form_user.lat() }}
            {{ form_user.long() }}
          </div>
          <div class="formGroup">
            <p>Compagnie</p>
            {{ form_user.compagny(class="inputCompagny", id="compagny") }}
            {{ form_user.bs() }}
            {{ form_user.catch() }}
          </div>
        </div>

        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>


{% elif type == "albums" %}

<div class="divUpdated">
    <form id="formAlbum" method="post" class="post formBlock">
        <h2>Editer un Album</h2>
        <div>
          {{ form_album.title(value=element.title_albums) }}
        </div>

        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>


{% elif type == "comments" %}
<div class="divUpdated">
    <form id="formComment" method="post" class="post formBlock">
        <h2>Editer un commentaire</h2>
        <div>
        {{ form_comment.title(class_='postTitle') }}
        {{ form_comment.message(class_='postMessage') }}
        </div>
        <div class="divBtns">
            <button type="submit" id="btnSend"> Enregistrer</button>
            <button id="goBack" onclick="history.back()">Annuler</button>
        </div>
    </form>
</div>


{% endif %}





{% endblock %}