<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <form id="" method="post" class="post formBlock">
        <button id="">x</button>
        <h2>Editer utilsateur</h2>
        <div>
            {{ form_user.Nom d'utilsateur() }}
            {{ form_user.Nom complet() }}
            {{ form_user.Téléphone() }}
            {{ form_user.Site web() }}
            {{ form_user.Email() }}
            {{ form_user.Zipcode() }}
            {{ form_user.Ville() }}
            {{ form_user.Rue() }}
            {{ form_user.NomCompagnie() }}
            {{ form_user.catchPhrase() }}
            {{ form_user.() }}
            {{ form_user.Bs() }}
          
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
    </form>
</div>
</body>
</html>