<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <form id="" method="post" class="post formBlock">
        <button id="">x</button>
        <h2>Editer un photo</h2>
        <div>
          {{ form_photo.title(value=element.title_photo) }}
          {{ form_photo.url(value=element.url_photo) }}
          {{ form_photo.thumbnail(value=element.thumnail_photo)}}
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
    </form>
</div>
</body>
</html>