{% extends 'base.html' %}

{% block title %}
    <title>Accueil</title>
{% endblock %}


{% block contenu %}
<div class="content">

    <div class="divOverlay">
        <form id="formUser" method="post" class="post formBlock">
            <button id="btnQuite">x</button>
            <h2>Ajouter un utilisateur</h2>
            <div>
              <div class="formGroup">
                {{ formUser.fullname() }}
                {{ formUser.username() }}
                {{ formUser.email() }}
                {{ formUser.phone() }}
                {{ formUser.website() }}
              </div>
              <div class="formGroup">
                <p>Adresse</p>
                {{ formUser.ville() }}
                {{ formUser.rue() }}
                {{ formUser.suite() }}
                {{ formUser.zipcode() }}
                {{ formUser.lat() }}
                {{ formUser.long() }}
              </div>
              <div class="formGroup">
                <p>Compagnie</p>
                {{ formUser.compagny(class="inputCompagny", id="compagny") }}
                {{ formUser.bs() }}
                {{ formUser.catch() }}
              </div>
            </div>
            <button type="submit" id="btnSend"> Enregistrer</button>
          </form>
    </div>



    <div class="buttonHome">
        <button id="ajouter">Ajouter</button>
        <form id="formLoad" method="post">
          <input type="number" id="inputNumber" placeholder="nombre" min="1" max="5">
          <button id="charger">Charger</button>
        </form>
    </div>


        {% if users %}
          <table id="tableHome">
            <thead>
                <tr>
                    <th>Nom Complet</th>
                    <th>Email</th>
                    <th>Numéro de Telephone</th>
                    <th>Site Web</th>
                </tr>  
            </thead>
            <tbody>
                {% for user in users %}
                  <tr>
                    <td><a id="loginHomeLink" href="{{'/connexion/'+user.get('email')}}">{{ user.fullname }}</a></td>
                    <td>{{user.email}}</td>
                    <td>771432678</td>
                    <td>google.com</td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>Aucun utilisateurs pour le moment !</p>
        {% endif %}
</div>
{% endblock %}