{% extends 'user_template.html' %}


{% block contenuUser%}

<div class="divMaps">
    <img src="{{ url_for('static', filename='images/carte.jpg') }}" alt="maps">
</div>

<div class="big divInfos">
    <h1 class="head">Informations Supplémentaires</h1>    
    <div id="table1">
        <div id="sect1">
            <div class="tr">
                <p class="p1">Nom d'utilsateur :</p>
                <p class="p2"> Bret</p>
            </div>
            <div class="tr">
                <p class="p1">Nom complet :</p>
                <p class="p2">Leanne Graham</p>
            </div>
            <div class="tr">
                <p class="p1">Téléphone :</p>
                <p class="p2">1-233-34-4543-54</p>
            </div>
            <div class="tr">
                <p class="p1">Site web :</p>
                <p class="p2">AboBusiness.org</p>
            </div>
            <div class="tr">
                <p class="p1">Email :</p>
                <p class="p2">ridialfall@gmail.com</p>
            </div>
        </div>
        <div id="sect2">
            <div class="tr">
                <p class="p1">Zipcode :</p>
                <p class="p2">Bret</p>
            </div>
            <div class="tr">
                <p class="p1">Ville :</p>
                <p class="p2">Leanne Grahman</p>
            </div>
            <div class="tr">
                <p class="p1">Rue :</p>
                <p class="p2">1-12-4354-45</p>
            </div>
            <div class="tr">
                <p class="p1">Suite :</p>
                <p class="p2">Hildegard.org</p>
            </div>
        </div>
    </div>
    <h1 class="foot">Compagnie</h1>
    <div id="table2">
        <div id="sect3">
            <div class="tr1">
                <p class="p1 p1_1">Nom :</p>
                <p class="p2">Bret</p>
            </div>
            <div class="tr1">
                <p class="p1 p1_1">catchPhrase :</p>
                <p class="p2">Leanne Graham </p>
            </div>
            <div class="tr1">
                <p class="p1 p1_1">Bs :</p>
                <p class="p2">1-770-7755-56</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}