{% extends 'user_template.html' %}


{% block title%}
    <title>Posts</title>
{% endblock%}


{% block contenuUser %}

<div class="divOverlay" id="overlayPostForm">
    <form id="formPost" method="post" class="post formBlock">
        <button id="btnQuite">x</button>
        <h2>Ajouter  un Post</h2>
        <div>
          {{ formPost.title(class_='postTitle') }}
          {{ formPost.message(class_='postMessage') }}
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
  </form>
</div>




<!-- editing form  -->




<div class="divContainerPosts">
    <div class="btns">
        <button class="btnForm">Ajouter</button>
        <button>Charger</button>
    </div>
    
    
    <div class="big" id="big">

        <h2>Mes posts</h2>
        {% if posts %}

        <table id="postTable">
            <thead>
                <tr>
                    <th class="th">Titre</th>
                    <th class="th">Extrait</th>
                    <th class="th">Auteur</th>
                    <th class="th">Action</th>
                </tr>
            </thead>
            <tbody>
                    {% for post in posts %}
                        <tr class="tr">
                            <td class="td">{{ post.title_posts }}</td>
                            <td class="td">{{ post.body_posts }}</td>
                            <td class="td">Leanne Graham</td>
            
                            <td classe="td">
                                <button type="submit"><i class="fa-solid fa-eye"></i></button>
                                <button type="submit"><i class="fa-solid fa-pen" onclick="Modify(this)"></i></button>
                                <a href="/posts/delete/{{post.postId}}"><i class="fa fa-trash" ></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <div class="divPagination">
                            <button>Précédent</button>
                            
                            <button>Suivant</button>
                        </div>
                    </tr>
                {% else %}
                    <tr>
                        <p>Aucun post pour le moment !</p>
                    </tr>
            </tbody>
    
        </table>
       
        {% endif %}
    
    </div>
</div>

{% endblock %}
