{% extends 'user_template.html' %}

{% block contenuUser%}
<div class="divOverlay">
    <form id="formComment" class="post formBlock">
        <button id="btnQuite">x</button>
        <h2>Ajouter un commentaire</h2>
        <div>
          {{ formComment.title(class_='postTitle') }}
          {{ formComment.message(class_='postMessage') }}
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
    </form>
</div>



<div class="containerSinglePost">

    <div class="btns">
        <button class="btnForm">Ajouter un commentaire</button>
    </div>
    
    <div class="divContainerDetail">
        
        <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia odio quas eius itaque, laborum consequuntur, quibusdam alias, vero porro neque culpa! Inventore quam illo vero provident recusandae, nesciunt qui nobis?</h2>
    
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt obcaecati eaque sit doloribus autem nesciunt dolor ad blanditiis nemo, sint aperiam possimus mollitia hic corporis in sed id ipsum et?
        Neque ipsam reprehenderit voluptates et dolore cum, repellendus quod vitae. Ad, ratione, animi nesciunt nostrum quam dolorum vero similique blanditiis rerum dolores optio id facere commodi sequi molestias. Quibusdam, ad?
        Expedita rerum deserunt eligendi aliquam voluptates soluta, laboriosam odio explicabo aperiam illo dicta! Obcaecati ad quidem beatae sed nihil delectus, vero, distinctio iusto eius laudantium vel, explicabo voluptas dignissimos fugit!</p>


        <div class="divCommentaires">
            <h2>Commentaires</h2>
            <table>
                <tbody>
                    <tr>
                        <td>id labore ex</td>
                        <td>id labore ex lorem impsu</td>
                        <td>id@labore.ex</td>
                        <td>
                            <span class="fa fa-user"></span>
                            <span class="fa fa-trash"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>id labore ex</td>
                        <td>id labore ex lorem impsu</td>
                        <td>id@labore.ex</td>
                        <td>
                            <span class="fa fa-user"></span>
                            <span class="fa fa-trash"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>id labore ex</td>
                        <td>id labore ex lorem impsu</td>
                        <td>id@labore.ex</td>
                        <td>
                            <span class="fa fa-user"></span>
                            <span class="fa fa-trash"></span>
                        </td>
                    </tr> 
                    
                    <tr>
                        <td>id labore ex</td>
                        <td>id labore ex lorem impsu</td>
                        <td>id@labore.ex</td>
                        <td>
                            <span class="fa fa-user"></span>
                            <span class="fa fa-trash"></span>
                        </td>
                    </tr> 
                    
                    <tr>
                        <td>id labore ex</td>
                        <td>id labore ex lorem impsu</td>
                        <td>id@labore.ex</td>
                        <td>
                            <span class="fa fa-user"></span>
                            <span class="fa fa-trash"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="divPagination">
            <button>Précédent</button>
            
            <button>Suivant</button>
        </div>
    </div>



</div>


{% endblock %}