{% extends 'user_template.html' %}

{% block title%}
    <title>Detail post</title>
{% endblock%}


{% block contenuUser%}
<div class="divOverlay">
    <form id="formComment" method="post" class="post formBlock">
        <button id="btnQuite">x</button>
        <h2>Ajouter un commentaire</h2>
        <div>
          {{ formComment.title(class_='postTitle') }}
          {{ formComment.message(class_='postMessage') }}
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
    </form>
</div>



<div class="containerSinglePost">

    <div class="btns">
        <button class="btnForm">Ajouter un commentaire</button>
    </div>
    
    <div class="divContainerDetail">
        
        <h2>{{ post.title_posts }}</h2>
    
        <p>{{ post.body_posts }}</p>


        <div class="divCommentaires">
            <h2>Commentaires</h2>
            <table>
                <tbody>
                    {% if comments %}
                        {% for comment in comments%}
                            <tr>
                                <td>{{ comment.name_comments }}</td>
                                <td>{{ comment.body_comments }}</td>
                                <td>{{ comment.email_comments }}</td>
                                <td>
                                    <span class="fa fa-user"></span>
                                    <span class="fa fa-trash"></span>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <p style="text-align:center">Aucun commentaire pour cet article, pour le moment !</p>
                        </tr>
                    {% endif %}
                    
                </tbody>
            </table>
        </div>


        <div class="divPagination">
            <button>Précédent</button>
            
            <button>Suivant</button>
        </div>
    </div>



</div>


{% endblock %}