{% extends 'user_template.html' %}


{% block title%}
    <title>Posts</title>
{% endblock%}


{% block contenuUser %}

<div class="divOverlay" id="overlayPostForm">
    <form id="formPost" class="post formBlock">
        <button id="btnQuite">x</button>
        <h2>Ajouter  un Post</h2>
        <div>
          {{ formPost.title(class_='postTitle') }}
          {{ formPost.message(class_='postMessage') }}
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
  </form>
</div>




<div class="divContainerPosts">
    <div class="btns">
        <button class="btnForm">Ajouter</button>
        <button>Charger</button>
    </div>
    
    
    <div class="big" id="big">

        <h2>Mes posts</h2>

        <table id="postTable">
            <tr>
                <th class="th">Titre</th>
                <th class="th">Extrait</th>
                <th class="th">Auteur</th>
                <th class="th">Action</th>
            </tr>
    
            {%for i in range(0,5)%}
                <tr class="tr">
                    <td class="td">Lorem ipsum dolor</td>
                    <td class="td">sit amet consectetur.</td>
                    <td class="td">adipisicing elit. Asperiores!</td>
    
                    <td classe="td">
                        <i class="fa-solid fa-eye"></i>
                        <i class="fa-solid fa-pen"></i>
                        <i class="fa fa-trash"></i>
                    </td>
                </tr>
            {%endfor%}
    
        </table>
        <tr>
            <div class="divPagination">
                <button>Précédent</button>
                
                <button>Suivant</button>
            </div>
        </tr>
    </div>
</div>

{% endblock %}
