{% extends 'user_template.html' %}

{% block title%}
    <title>Todos</title>
{% endblock%}



{% block contenuUser %}
<div class="divOverlay">
    <form id="formTodo" method="post" class="post formBlock">
        <button id="btnQuite">x</button>
        <h2>Ajouter un Todo</h2>
        <div>
          {{ formTodo.title() }}
          {{ formTodo.etat() }}
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
    </form>
</div>






<div class="containerTodos">

    <div class="btns">
        <button class="btnForm">Ajouter</button>
        <a href="/charger_donnees/todos" id="loadTodos" class="loadLink">Charger</a>
    </div>
    
    <div class="divTodos">
        <h2 id="too">Mes todos</h2>
        {% if todos %}
        
        <table id="tableTodoList">
            <thead>
                <tr>
                    <th>titre</th>
                    <th>état</th>
                    <th>auteur</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                
                    {% for todo in todos %}
                        <tr>
                            <td>{{ todo.title_todos}}</td>
                            <td><span class="status done">encours</span></td>
                            <td>{{user['fullname']}}</td>
                            <td>
                                <a href="#"><i class="fa-solid fa-eye"></i></a>
                                <a id="editer" href="/todos/edit/{{todo.id_todos}}"><i class="fa-solid fa-pen"></i></a>
                                <i class="fa fa-trash"></i>
                            </td>
                        </tr>
                    {% endfor %}
                
                
            </tbody>
        </table>
        <div class="divPagination">
            <button>Précédent</button>
            
            <button>Suivant</button>
        </div>


        {% else %}
           
            <div class="divNotELement">
                <p>Désolé vous n'avez pas de todo pour le moment !</p>
            </div>
        {% endif %}
    </div>

    
</div>
    
{% endblock %}