{% extends 'user_template.html' %}

{% block title%}
    <title>Todos</title>
{% endblock%}



{% block contenuUser %}
<div class="divOverlay">
    <form id="formTodo" method="post" class="post formBlock">
        <button id="btnQuite">x</button>
        <h2>Ajouter un Todo</h2>
        <div>
          {{ formTodo.title() }}
          {{ formTodo.etat() }}
        </div>
        <button type="submit" id="btnSend"> Enregistrer</button>
    </form>
</div>

  

<div class="containerTodos">

    <div class="btns">
        <button class="btnForm">Ajouter</button>
        <button>Charger</button>
    </div>
    <div class="divTodos">
        <h2 id="too">Mes todos</h2>
        <table id="tableTodoList">
            <thead>
                <tr>
                    <th>titre</th>
                    <th>état</th>
                    <th>auteur</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% if todos %}
                    {% for todo in todos %}
                        <tr>
                            <td>{{ todo.title_todo}}</td>
                            <td><span class="status done">encours</span></td>
                            <td>id@labore.ex</td>
                            <td>
                                <i class="fa-solid fa-eye"></i>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa fa-trash"></i>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <p>Désolé vous n'avez pas de todo pour le moment !</p>
                </tr>
                {% endif %}
                
            </tbody>
        </table>
        <div class="divPagination">
            <button>Précédent</button>
            
            <button>Suivant</button>
        </div>
    </div>

    
</div>
    
{% endblock %}