<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/compte.css') }}">

    <title>User</title>
</head>
<body>
    
    <div class="userContainer">

        <div class="divSideBar">
            <a href="#">hello world</a>
        </div>

        <div>
            {% block contenuUser %}
    
    
            {% endblock%}  
        </div>
          
    </div>


</body>
</html>