{% extends 'user_template.html' %}


{% block contenuUser%}

<div class="divMaps">
    <img src="{{ url_for('static', filename='images/carte.jpg') }}" alt="maps">
</div>

<div class="big">
    <h1 class="head">Informations Supplémentaires</h1>    
    <table>
        <tr>
            <td class="td">Nom d'utilsateur :</td>
            <td> Bret</td>
        </tr>
        <tr>
            <td class="td">Nom complet :</td>
            <td>Leanne Graham</td>
        </tr>
        <tr>
            <td class="td">Téléphone :</td>
            <td>1-233-34-4543-54</td>
        </tr>
        <tr>
            <td class="td">Site web :</td>
            <td>AboBusiness.org</td>
        </tr>
        <tr>
            <td class="td">Email :</td>
            <td>ridialfall@gmail.com</td>
        </tr>
    </table>
    <h1 class="foot">Compagnie</h1>
    <table>
        <tr>
            <td>Nom :</td>
            <td>Bret</td>
        </tr>
        <tr>
            <td>catchPhrase :</td>
            <td>Leanne Graham</td>
        </tr>
        <tr>
            <td>Bs :</td>
            <td>1-770-7755-56</td>
        </tr>
    </table>
</div>

{% endblock %}